.big {
  width: 100%;
  height: 20vh;
  /* border: solid red; */
  background: #f4f1ed;
  display: flex;
  justify-content: space-between;
}

.mejin {
  width: 50%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.icon {
  width: 30%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
